################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MainClass.2025/qfAvaloina/bin/Release/net8.0
/MainClass.2025/qfAvaloina/obj
/MainClass.2025/qfmain/.vs/qfmain
/MainClass.2025/qfmain/bin/Release
/MainClass.2025/qfmain/TemplateEngineHost/vs
/MainClass.2025/qfNet/bin/Release
/MainClass.2025/qfWork/bin/Release
/MainClass.2025/qfWPFmain/bin/Release/net8.0-windows
/MainClass.2025/qfWPFmain/obj
/MainClass.2025/资料
/MainClass.2025/FodyWeavers.xml
/MainClass.2025/控制台.exe
/MainClass.2025/qfmain/Oracle.DataAccess.Common.Configuration.Section.xsd
/MainClass.2025/qfmain/Oracle.ManagedDataAccess.Client.Configuration.Section.xsd
/MainClass.2025/qfNet/FodyWeavers.xsd
/MainClass.2025/qfNet/FodyWeavers.xml
/.gitignore
/.gitignore
/.gitignore
/.gitignore
/.vs
/MainClass.2025
/obj
/bin
/.xml
/MainClass.2025/qfmain/FodyWeavers.xml
/MainClass.2025/qfmain/清除xml.txt
